:root {
	--dark-green: #31662a;
	--medium-green: #598653;
	--light-green: #71956c;
	--dark-gray: #656565;
	--light-gray: #e5e5e5;
	--census-dark-blue: #246192; /* true census color */
	--census-medium-blue: #4077a4;
	--census-light-blue: #6095c1;
	--slate: #688dbc;

	--body-width: 600px;

	--box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
}

@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 100 900;
    src: local(''), url('/fonts/Geist-1.3.0/variable-woff/GeistVF.woff2') format('woff2'),
        url('/fonts/Geist-1.3.0/variable-woff/GeistVF.woff') format('woff'),
}

html {
	scroll-padding-top: 80px; /* Offset for fixed header */
}

body {
	margin: 0px;
	margin-top: 80px;
	font-family: Geist;
	scroll-padding-top: 200px;
}

button {
	font-family: inherit;
}

:target::before {
    display: block;    
    position: relative;     
    top: -500px;
    visibility: hidden;
}

/* {
    "tokens": {
        "access_token": "ya29.a0AeDClZCJNIW5QDC0y9AxZTaFr6h4P_YaUfFF9qLuH3EavYlWyNZ83zl0sXUdes-Wpqbh_Pr42eq5PgzSDXL4jyufIP21spY44Lv98riKEhYN3_ctHwPyRedlgQ5rwgXkA17lOkBq4EpcfjbxeoZ42WqUMO4WRuyptLBvkOAKYwaCgYKAdESARMSFQHGX2MiNN27MEgSfzEjJFgZ9k1BUQ0177",
        "refresh_token": "1//05p-d5aCzaBwbCgYIARAAGAUSNwF-L9IrUwlvY3imk9ADkaH3GDjmP1KTLWsnIfKVWYgKJ41LZ8EwdZjzt5QjqQ0htCMz453mFv0",
        "scope": "https://www.googleapis.com/auth/documents.readonly",
        "token_type": "Bearer",
        "expiry_date": 1731910793790
    },
    "credentials": {
        "redirect_uris": [
            "http://127.0.0.1:6006/auth"
        ],
        "client_id": "161714874123-fvttr6skktes7vi1372fpr9a69nd8mrt.apps.googleusercontent.com",
        "client_secret": "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"
    }
} */